#main, .pageFooter {
    background-image: url('/media/2/');
    background-size: cover;
}

.main > div,
.dashboardBoxRecentActivity,
.boxesContentTop .box, .boxesContentBottom .box {
	border-top: 3px solid #ee2762 !important;
	border: 1px solid #e5e9f2;
	box-shadow: 0 1px 2px 0 rgb(33 33 33 / 14%), 0 0 1px 0 rgb(0 0 0 / 14%);
	border-radius: 8px;
	background: #fff;
    padding: 20px;
}

.boxesContentTop .box, .boxesContentBottom .box {
	padding: 20px;
}
