.footer-area  {
	border-top: 3px solid #ee2762 !important;
	border: 1px solid #e5e9f2;
	box-shadow: 0 1px 2px 0 rgb(33 33 33 / 14%), 0 0 1px 0 rgb(0 0 0 / 14%);
	border-radius: 8px;
	padding: 40px;
	background: #fff;
	background-image: url("/media/1/");
	margin-bottom: 40px;
}


.boxesFooterBoxes .box {
	border-top: 3px solid #ee2762 !important;
	border: 1px solid #e5e9f2;
	box-shadow: 0 1px 2px 0 rgb(33 33 33 / 14%), 0 0 1px 0 rgb(0 0 0 / 14%);
	border-radius: 8px;
	padding: 40px;
	background: #fff;	
	flex: 0 0 48%;
	margin: 10px;
	background-image: url("/media/1/");
}

.boxesFooterBoxes {
	background: #fff;
	color: #8494ac;
	border-top: 1px solid #e5e9f2;
	border-right: 1px solid #e5e9f2;
	border-bottom: 0 !important;
	border-left: 1px solid #e5e9f2;
	border-radius: 8px 8px 0 0;
	
	.boxTitle {
		color: #8494ac;
	}
}

.boxesFooter {
    background: #fff;
	color: #8494ac;
	box-shadow: 0 1px 2px 0 rgb(33 33 33 / 14%), 0 0 1px 0 rgb(0 0 0 / 14%);
	margin-bottom: 20px;
	border-radius: 0 0 8px 8px;
	border-top: 0 !important;
	border-right: 1px solid #e5e9f2;
	border-bottom: 1px solid #e5e9f2;
	border-left: 1px solid #e5e9f2;
	
	a {
		color: #8494ac;
	}
}
