@include screen-md-up {
	.messageSidebar {
		// flex: 0 0 200px;
		padding: 15px;
		text-align: left !important;
		box-shadow: 0 1px 2px 0 rgb(33 33 33 / 14%), 0 0 1px 0 rgb(0 0 0 / 14%);;
	}

 .messageHeader+.messageBody {
	margin-left: 10px;
}
  
}
