.pageNavigation li:before {
	color: #edecdf !important;
}

body[id="tpl_blog_blogEntryList"],
body[id="tpl_blog_entry"] {
.contentHeader {
	border: 1px solid #ddd;
}
}

body[id="tpl_wcf_user"] {
.section {
	border: 1px solid #ddd;
}
}

.boxesFooterBoxes .box a {
	color: #7DC9C5;
}

.boxesFooterBoxes .box a:hover {
	color: #0DA9EF;
}

.boxesFooterBoxes .boxTitle {
	color: #8494ac !important;
}

.main > div, .boxesFooterBoxes {
	background: #fff;
}

#main {
	background-image: url('/media/2/');
}

.boxesFooter,
.boxesFooterBoxes,
.boxesFooterBoxes .box,
.boxesContentTop .box, .boxesContentBottom .box,
.main > div,
.messageList .message {
	border: 1px solid #ddd;
}

.messageSidebar .badge_user,
.messageSidebar .badge_admin {
	background-color: #f9fafc;
}

.messageSidebar .badge_user {
	color: #374250;
}

.jiraIssue .jiraOptions {
  border-top: 1px solid #ddd;
}

body[id="tpl_wcf_user"] {
	
.main > div {
	background-color: #fff;
	background-image: url("/media/1/");
}

.userProfileUserWithCoverPhoto .contentHeaderDescription {
	border: 1px solid #ddd;
	background: #fafafa;
}
}

.dropdownMenuContainer > .interactiveDropdown.open {
    border: 1px solid #ddd;
    border-radius: 8px;
	-webkit-box-shadow: 0 6px 6px -6px #777;
	-moz-box-shadow: 0 6px 6px -6px #777;
	box-shadow: 0 6px 6px -6px #777;
}

.pageFooterCopyright p {
  color: #8494ac !important;
}

.mainMenu .boxMenu > li > a > span, .boxMenuLinkTitle,
.messageSidebar a, .messageSidebar span, .contentHeaderMetaData a, .contentHeaderMetaData .icon,
.messageReduced .messageTitle a, .messageReduced .messageTitle span, .messageHeaderWrapper a,
.jiraIssue a, .jiraIssue p, .tabularListRowHead span, .tabularListRowHead .icon,
.interactiveDropdownItems > li, .interactiveDropdownHeader .interactiveDropdownTitle, .interactiveDropdownShowAll, .interactiveDropdownUserMenuItem .icon, small,
.boxesContentTop .boxTitle, .boxesContentBottom .boxTitle, .newsDateBadge p {
	color: #222222 !important;
	
}

.main > div, .boxesFooterBoxes, .pageNavigation, .pageHeaderFacade,
.mainMenu .boxMenu > li > a,
.mainMenu .boxMenu > li.active > a, .mainMenu .boxMenu > li:hover > a,
.mainMenu .boxMenu .boxMenuDepth1,
.mainMenu .boxMenu .boxMenuDepth1, .dropdownMenu,
.mainMenu .boxMenu .boxMenuDepth1 > li.active > a, .mainMenu .boxMenu .boxMenuDepth1 > li > a:hover,
.messageSidebar, .messageSidebar .badge_admin, .messageSidebar .badge_user, .messageReduced .messageHeader, .jiraIssue, .tabularListRowHead,
.redactor-box, .messageTabMenuNavigation > ul, .messageTabMenu > .messageTabMenuContent.active, .messageContent.loading > .messageContentLoadingOverlay, .interactiveDropdown, .interactiveDropdownHeader, .interactiveDropdownShowAll, .interactiveDropdownItems > li:hover {
	background-image: url('/media/24/');
}
	
.boxesFooterBoxes .boxTitle, .boxesFooterBoxes .boxContent, .slogan p2, .trophySidebarSummarySize .icon, .tabularListRow .datetime, .badge.green, .badge.red, .badge.red .icon, .jiraIssueVersion a,
.messageTabMenu:not(.messageTabMenuContent) > .messageTabMenuContent.active label {
	color: #edecdf !important;
}

.pageNavigation {
	border: 3px solid #ddd;
}

.interactiveDropdownItems > li {
	border: 1px solid #ddd;
}

.redactor-box + .messageTabMenu ul, .redactor-toolbar, 
.messageTabMenu:not(.messageTabMenuContent) > .messageTabMenuContent.active {
	background: #222222;
}

.redactor-toolbar a:hover,
.inlineList .smileyList {
	background-image: url('/media/23/');
}

#main, .gothic, .boxesFooterBoxes .box, .pageNavigation .layoutBoundary,
.content > .section, .content > form, .sectionContainer, .boxesSidebarLeft .box:not(.boxBorderless), .boxesSidebarRight .box:not(.boxBorderless), .boxesSidebarLeft .box .boxWithEditButton, .boxesSidebarRight .box .boxWithEditButton,
.htmlContent table tr:hover > td, .messageBody > .messageText table tr:hover > td, .messageSignature > div table tr:hover > td, .redactor-layer table tr:hover > td, .table tr:hover > td,
.messageList .message, .tabularListRow:not(.tabularListRowHead) {
	background-image: url('/media/23/');
	
p, span, a, li, td, th, .boxesSidebarLeft .boxTitle, .boxesSidebarRight .boxTitle, .boxTitle {
	color: #edecdf;
}
	
a:hover {
  color: #0DA9EF;	
}
	}

body[id="tpl_wbb_board"] {
	.tabularBox {
		background-image: url('/media/24/');
	}
	
	#main p, #main span, #main a, #main li, #main td, #main th, #main, #main h2 {
		color: #000;
	}
}

body[id="tpl_wbb_boardList"] {

.wbbBoardList .wbbBoard {
	background-image: url('/media/23/');
}
	
}
