body[data-page-id="128"] {
	.main > div,
	.content > .section, .content > form, .sectionContainer {
	background-image: url(../images/scDiscordWidgetBoxBackground-3.png), 			 url(../images/scDiscordWidgetBoxBackground-4.png);
	background-size: 200px 180px, 110px 130px;
	background-position: 0 102%, 100% 100%;
	background-repeat: no-repeat, no-repeat;
	}
	
	.discord-button {
		text-align: center;
	.boxTitle {
		text-align: left;
	}
	}
}

@import "style/stylesheets/main_content.scss";
@import "style/stylesheets/main_sidebar.scss";
@import "style/stylesheets/messageSidebar.scss";
@import "style/stylesheets/own_footer.scss";
@import "style/stylesheets/generell_content.scss";
