#tpl_wcf_jiraProjectList {
.section, .content>.section, .content>form, .sectionContainer {
	border-top: 3px solid #ee2762 !important;
	border: 1px solid #e5e9f2;
	box-shadow: 0 1px 2px 0 rgb(33 33 33 / 14%), 0 0 1px 0 rgb(0 0 0 / 14%);
	border-radius: 8px;
	}
}

#tpl_wcf_jiraIssue {
.content>.section, .content>form, .sectionContainer {
	padding: 0 !important;
}
}
