#tpl_knowledgebase_category, #tpl_knowledgebase_knowledgeArticleList {
.section, .content>.section, .content>form, .sectionContainer {
	border: none !important;
	box-shadow: none;
    padding: 0;
}
}

.knowledgebaseCategoryList .knowledgebaseCategory .knowledgebaseCategoryHeader {
	background: #fafafa;
	background-image: url("/media/1/");
	color: #9cacbb;
	
.badge, a.badge {
	margin-left: 5px;
	background: #7DC9C5;
	}
	
}
