.userAvatarImage {
    border-radius: 5px;
}

.specialTrophyContainer>ul {
    justify-content: left;

}

.messageSidebar .badge_admin {
    color: #6bbce4;
    font-weight: bold;
}

.messageSidebar .badge_user {
	color: #7f8c8d;
	font-weight: bold;
}

.messageSidebar .badge_mod {
	color: #d64434;
}

.messageSidebar .badge_system {
	background: #369;
	margin-top: 5px;

&::before {
	content: '\f121';
    font-family: FontAwesome;
    margin-right: 5px;
    position: relative;
}
}

.messageSidebar .badge_admin,
.messageSidebar .badge_user,
.messageSidebar .badge_mod {
    background-color: #f9fafc;
    padding-left: 0 !important;
} 

.messageSidebar .messageAuthorContainer:not(:last-child) {
	margin-bottom: 0px;	
}

  
@include screen-sm-up {

.userOnlineGroupMarking3 .messageSidebar {
	border: solid 1px #7f8c8d;
}

.userOnlineGroupMarking4 .messageSidebar {
    border: solid 2px #6bbce4;
}

.userOnlineGroupMarking5 .messageSidebar {
	border: solid 2px #d64434;
}
		
}

.userOnlineGroupMarking9 .messageSidebar {
	text-align: center !important;
	background: #fff !important;
	border: 1px solid #fafafa !important;
	
	.dataList, .messageAuthorBackground, .messageAuthorContainer, .userOnline {
		display: none;
	}
}
