.jiraIssue {
  padding: 20px;
}

.jiraIssue .jiraOptions {
  padding: 20px;
  margin-top: 20px;
}

body[id="tpl_wbb_thread"] {
.content > .section {
	border: none !important;
	box-shadow: none !important;
	padding: 0 !important;
}
}


body[id="tpl_wbb_boardList"] {
	
.content > .section { 
	border: none !important;
	background: none !important;
}
	
@include screen-md-down {	
	.tabularListRow:not(.tabularListRowHead) {
	padding: 10px;
}	
}
}

body[id="tpl_blog_blogEntryList"],
body[id="tpl_blog_entry"] {

.contentHeader {
    padding: 20px;
	border-top: 3px solid#7dc9c5 !important;
	border-radius: 8px;
}

.contentHeader .contentHeaderMetaData.inlineList > li:first-child,
.contentHeaderIcon,
.contentItemMetaImage,
.contentItemMetaAuthor,
.contentItemMetaIcon {
     display: none;
}

.contentItemMetaTime {
	text-align: right;
	color:#7dc9c5;
}

.contentItemMetaTime::before {
	content: "Dieser Artikel wurde ";
	color: #8494ac !important;
}

.contentItemMetaTime::after {
	content: " veröffentlicht.";
	color: #8494ac !important;
}

	
}

body[id="tpl_news_news"] {

.tabMenu, .inlineList > li:last-child, .inlineList > li:first-child {
	display: none;
}
        
}

.messageList .message {
	padding: 20px !important;
	border-radius: 8px;
	border-top: 3px solid #0DA9EF !important;
	border: 1px solid #ddd;
}

.newsList .inlineList > li:frist-child {
	display: none;
}
        
.newsImage {
    display: none;
 }

@include screen-lg {
.messageList .message {
	margin-left: 20px;
	padding-top: 40px !important;
}
}

@include screen-md-down {
	
article.news:not(.ignoredUserMessage), article.news > div > section {
	margin-top: 10px;
}
}

.scTabmenuBBCode .tabMenuContent:not(.tabMenuContainer) {
    border: 0 !important;
    margin-top: 2px important;
    padding: 0px;
}

.section.dashboardBoxRecentActivity .sectionHeader {
	display: none;
}

.box .discordShoutbox {
	border: 0 !important;
	box-shadow: 0 !important;
	-webkit-box-shadow: 0 0 0 0 !important;
    -moz-box-shadow: 0 0 0 0 !important;
	padding: 0 !important;
}

//[data-identifier="com.woltlab.wcf.generic226"] > a {
//	pointer-events: none;
//}


body[data-page-id="1380"] { // Der Rechtsstreit aus dem Jahr 2001 //
.boxesContentTop .box,
.boxesContentTop .boxTitle {
	background-image: url("/media/25/") !important;
}

.boxesContentTop .rechtsstreit_intro {
	background-image: none !important;
}
	
.boxesContentTop .boxTitle {
	color: #ccc;
	margin-bottom: 2px;
    text-shadow: 0 -1px 0 #060;
}
	
.boxesContentTop .rechtsstreit {
	border-top: 3px solid #00A46C !important;
}

.rechtsstreit .embeddedAttachmentLink, .embeddedImageLink {
	border: none !important;
}
	
.rechtsstreit .mediaBBCodeCaption {
	border-top: 3px solid #ee2762  !important;
	border-radius: 8px;
	padding: 20px;
	background: #00A46C;
	color: #fafafa;
	-webkit-box-shadow: 0 6px 6px -6px #777;
	-moz-box-shadow: 0 6px 6px -6px #777;
	box-shadow: 0 6px 6px -6px #777;
}


}

@include screen-lg {
.auto_footer {
	display: none;
}
}

@include screen-md-down {
.manuel_footer {
	display: none;
}
}

.box .discordShoutbox {
	border: 0 !important;
	box-shadow: 0 !important;
	-webkit-box-shadow: 0 0 0 0 !important;
    -moz-box-shadow: 0 0 0 0 !important;
	padding: 0 !important;
}

body[id="tpl_wcf_user"] {

.section {
	padding: 20px;
}
            
}
	
.jiraVersionIssue .columnKey a {
	display: none;
}

.messageSidebar .userRank, .messageSidebar .userTitle, .messageSidebar .messageAuthorContainer {
    margin-bottom: 0 !important;
}


/*----------------- Administratoren ------------------*/

@include screen-sm-up { 
        
.messageSidebar .specialTrophyContainer > ul {
    justify-content: left;
}

.userOnlineGroupMarking4 .messageSidebar {
	border: solid 2px #cc341d;
}
	
}

.messageSidebar .badge_admin,
.userProfileUserWithCoverPhoto .userProfileUsername + .badge_admin {
	font-variant: small-caps;
}

.messageSidebar .badge_admin {
	color: #cc341d !important;
}

.messageSidebar .badge_user,
.messageSidebar .badge_admin {
	padding-left: 0 !important;
}

.userAvatarImage {
    border-radius: 8px;
}

.mainMenu .boxMenu>li>a>span {
	font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.6px;
}

.content > .section, .content > form, .sectionContainer,
.boxesSidebarLeft .box:not(.boxBorderless), .boxesSidebarRight .box:not(.boxBorderless),
.boxesSidebarLeft .box .boxWithEditButton, .boxesSidebarRight .box .boxWithEditButton  {
	border-top: 3px solid #7dc9c5 !important;
	-webkit-box-shadow: 0 6px 6px -6px #777;
	-moz-box-shadow: 0 6px 6px -6px #777;
	box-shadow: 0 6px 6px -6px #777;
}

.boxesContentTop .box, .boxesContentBottom .box {
    padding: 20px;
	border-top: 3px solid #ee2762 !important;
	border-radius: 8px;
	-webkit-box-shadow: 0 6px 6px -6px #777;
	-moz-box-shadow: 0 6px 6px -6px #777;
	box-shadow: 0 6px 6px -6px #777;
}

.main > div {
	padding: 20px;
	border-top: 3px solid #ee2762 !important;
}

.boxesContentTop .boxTitle, .boxesContentBottom .boxTitle, .contentTitle {
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 10px;
}

.contentFooter .contentFooterNavigation {
    text-align: center;
}

.boxesFooterBoxes .box a {
	font-weight: bold;
}

.boxesFooter {
	margin-bottom: 20px;
    text-transform: none !important;
	box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
	padding: 20px;
	color: #fff;
	background: rgba(238, 238, 238, 0.75);
	background-image: url("/media/3/");
}

.boxesFooterBoxes .box {
	padding: 30px;
    -webkit-box-shadow: 0 6px 6px -6px #777;
    -moz-box-shadow: 0 6px 6px -6px #777;
    box-shadow: 0 6px 6px -6px #777;
	border-radius: 8px;
	background-image: url("/media/1/");
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 60px;
    font-size: 12px !important;
	flex: 0 0 48%;
}


#main {
	background-size: cover;
	background-attachment: fixed;
}
