@include screen-md-down {
	
	
.pageHeaderContainer .icon,
.pageHeaderSearchMobile, .userPanel, .mainMenu, .mainMenu::before, .mainMenu[aria-expanded="true"]::before {
	color: #000;
}
	
#tpl_wbb_board .wbbBoardList .wbbBoardContainer {
	border: 1px solid #9cacbb;
	padding: 10px;
&:first-child {
	border-radius: 8px 8px 0 0;
}
&:last-child {
	border-radius: 0 0 8px 8px;
}
}
	
#tpl_wbb_boardList .wbbBoardList .wbbBoard {
	padding: 10px;
}
	
.messageSidebar .badge_admin,
.messageSidebar .badge_unsagbaren,
.messageSidebar .badge_moderatoren,
.messageSidebar .badge_kunden,
.messageSidebar .badge_user {
    background-color: #e8edf1 !important;
}	
		
.messageSidebar {
	margin: 0;
}
	
.messageList:not(.messageReducedList) .messageSidebar {
	background: #e8edf1;
	border-top: 2px solid #9cacbb;
	border-left: 1px solid #d9dfe5;
	border-right: 1px solid #d9dfe5;
    border-bottom: 1px solid #d9dfe5;
    border-radius: 8px 8px 0 0;
}
	
.messageSidebar + .messageContent {
	border-left: 1px solid #e5e9f2;
	border-right: 1px solid #e5e9f2;
	border-bottom: 1px solid #e5e9f2;
	border-radius: 0 0 8px 8px;
	box-shadow: 0 6px 6px -6px #777;
	margin: 0;
	padding: 13px;
}
	
}

.messageSidebar .badge_admin {
    padding-left: 0 !important;
}

.messageSidebar .badge_admin {
	color: #3ca1d8;
	font-weight: bold;
}

.messageAuthorContainer:not(:last-child) {
    margin-bottom: 0px;
}

@include screen-sm-up {
.messageSidebar {
	text-align: left;
	background: #fafafa;
	box-shadow: 0 6px 6px -6px #777;
	border-radius: 8px;
}

.userOnlineGroupMarking4 .messageSidebar {
	border: 2px solid #3ca1d8;
}

	
.messageSidebar .badge_admin,
.messageSidebar .badge_unsagbaren,
.messageSidebar .badge_moderatoren,
.messageSidebar .badge_kunden,
.messageSidebar .badge_user {
    background-color: #fafafa !important;
}	
	
}



#tpl_wbb_boardList, #tpl_wbb_board {

.content > .section, .content > form, .sectionContainer {
	padding: 0 !important; border: none !important; box-shadow: none !important;
}


.wbbBoardList .wbbBoardContainer {
	border-left: 1px solid #e5e9f2;
	border-right: 1px solid #e5e9f2;
&:last-child {
	border-bottom: 1px solid #e5e9f2;
	border-radius: 0 0 8px 8px;
	box-shadow: 0 6px 6px -6px #777;
}
}

.wbbBoardList > li.wbbCategory {
	box-shadow: 0 6px 6px -6px #777;
}

.tabularBoxTitle > header {
	background: #e8edf1;
    color: #9cacbb;
    font-size: 15px;
    font-weight: 600;
    padding: 20px;
    border-top: 2px solid #9cacbb;
	border-left: 1px solid #d9dfe5;
	border-right: 1px solid #d9dfe5;
    border-bottom: 1px solid #d9dfe5;
    border-radius: 8px 8px 0 0;
}

.tabularListRowHead {
	background: #e8edf1;
    color: #9cacbb;
    font-weight: 600;
    border-top: 2px solid #9cacbb;
	border-left: 1px solid #d9dfe5;
	border-right: 1px solid #d9dfe5;
    border-radius: 8px 8px 0 0;	
}

.tabularListRow {
	border-left: 1px solid #e5e9f2;
	border-right: 1px solid #e5e9f2;	
&:last-child {
	border-bottom: 1px solid #e5e9f2;
	border-radius: 0 0 8px 8px;
}
}

.tabularListColumns {
	padding: 10px;
}
	
}

.pageHeaderPanel, .userPanel > ul > li > a,
.userPanelLoggedIn .userPanelItems >li .icon {
	background: #fff;
	color: #000;
}

.pageNavigation {
	padding: 10px;
	
.layoutBoundary {
	background: #fff;
	padding: 10px;
	border: 1px solid #e5e9f2;
    border-radius: 8px;
	box-shadow: 0 6px 6px -6px #777;
}
}

.pageHeader {
	border-radius: 8px;
	border: 1px solid #d9dfe5;
}

.pageHeaderContainer {
	background: none !important;
}

.boxesFooter, .pageFooterCopyright, .boxesFooterBoxes {
	background-color: #fff;
}

.boxesFooter, .copyright {
	color: #000;
	
	a, a:hover {
		color: #000;
	}
}

.boxesFooterBoxes {
	border-top: 1px solid #d9dfe5;
}

.pageFooterCopyright {
	border-left: 1px solid #d9dfe5;
	border-right: 1px solid #d9dfe5;
	border-bottom: 1px solid #d9dfe5;
	box-shadow: 0 1px 2px 0 rgb(33 33 33 / 14%), 0 0 1px 0 rgb(0 0 0 / 14%);
	margin-bottom: 20px;
	border-radius: 0 0 8px 8px;
	
	a, a:hover {
		color: #000;
	}
}

.mainMenu .boxMenu > li > a {
	height: 71px;
	background: #fff;
	color: #000;
}
.mainMenu .boxMenu > li.active > a,
.mainMenu .boxMenu > li:hover > a {
	background: #fff;
	color: #000;
	box-shadow: 0 6px 6px -6px #777;
}

.userPanel {
	margin-left: auto;	
}
.userPanelLoggedIn .userPanelItems > li .icon {
	font-size: 18px;
}
.pageHeader {
	background: #fff;
	color: #000;
	box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.05);
	
	a {
		color: #000;
		
		&:hover {
			color: #000;
		}
	}
}
.pageHeaderFacade:first-child {
	margin-top: 0;	
}
.pageHeaderFacade > .layoutBoundary {
	padding-top: 0;
	padding-bottom: 0;
}
@include screen-lg {
	.pageHeaderContainer {
		width: 100%;
		height: 121px;
		padding-top: 0;
	}
	.pageHeader {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		z-index: 300;
	}
	.pageHeaderPanel {
		position: static;	
	}
	.pageHeaderLogo {
		position: relative;
		flex: 0 0 93px;
		padding: 15px 0;
		margin-right: 60px;
	}
	.pageHeaderLogo > a {
		position: relative;
		padding: 0;
		z-index: 2;
	}
	.pageHeaderLogo--before
	{
		content: "";
		position: absolute;
		top: 0;
		right: -25px;
		bottom: 0;
		width: 2000%;
		height: 100%;
		background-color: #5540d9;
		background-image: linear-gradient(90deg, #5540d9 0%, #ee2762 100%);
		transform: skew(-30deg);
		z-index: 1;
		
		&::after
		{
			content: '';
			position: absolute;
			top: 0;
			right: -14px;
			display: inline-block;
			background: linear-gradient(to top, #5540d9 -100%, #ee2762 100%);
			width: 15px;
			height: 100%;	
		}
	}
}


#main, .pageFooter {
	background-image: url("https://www.pff.de/wcf/images/style-6/back.png");
}

.main > div {
	padding: 20px;
}

.main > div,
.boxesContentTop .box, .boxesContentBottom .box,
.boxesSidebarLeft .box:not(.boxBorderless), .boxesSidebarRight .box:not(.boxBorderless) {
	background: #fff;
	border: 1px solid #e5e9f2;
    border-radius: 8px;
	box-shadow: 0 6px 6px -6px #777;
	
.boxContent {
	padding: 0px 20px 10px 20px;
}
	
.boxTitle {
    background: #e8edf1;
    color: #9cacbb;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 15px;
    border-top: 2px solid #9cacbb;
    border-bottom: 1px solid #d9dfe5;
    border-radius: 6px 6px 0 0;
}
	
}

.boxesSidebarLeft .box:not(.boxBorderless), .boxesSidebarRight .box:not(.boxBorderless) {
	padding: 0px;
	
}

.boxesFooterBoxes .box {
	border: 1px solid #e5e9f2;
	border-radius: 8px;
	box-shadow: 0 6px 6px -6px #777;
	padding: 40px !important;
	flex: 0 0 48%;
	margin: 0px 10px;
	background-color: #fff;
	background-image: url("/media/1/");
	margin-bottom: 40px;
}
